

body {
  font-family:verdana;
  background-color:rgb(10,10,20);
}
h1 {
  font-size: 2em;
  color: white;
}
p {
  font-size: 1em;
  color: rgb(90,120,190);
}

.headerDiv{
  display: flex;
  align-items: center;
  justify-content: left;
}
.headerText {
  font-size: 1em;
}
